<div class="container mt-5">
    <h1 class="text-center">Carrito de Compras</h1>
    <div class="row mt-4">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>
                <tbody id="cartList">
                    {{#each Cart.products}}
                    <tr>
                        <td>{{this.product._id}}</td>
                        <td>{{this.product.title}}</td>
                        <td>${{this.productPrice}}</td> 
                        <td>{{this.productQuantity}}</td> 
                        <td>${{this.productTotal}}</td> 
                        <td><button class="btn btn-danger delete-btn" data-product-id="{{this._id}}" data-delete-url="http://localhost:8080/api/carts/{{../cid}}/products/{{this._id}}" onclick="deleteProductFromCart('{{../cid}}', '{{this._id}}')">Eliminar producto</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Resumen del Pedido</h5>
                    <p class="card-text">Total de Productos: {{Cart.totalProducts}}</p>
                    <p class="card-text">Total a Pagar: ${{Cart.totalPrice}}</p>
                    <a href="http://localhost:8080/api/products/" class="btn btn-primary">Seguir Comprando</a>
                    <a href="http://localhost:8080/api/carts/{{Cart._id}}/purchase" class="btn btn-success" id="purchaseBtn" data-cart-id="{{Cart._id}}">Realizar compra</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>