<div class="container mt-5">
    <h1 class="text-center">Carrito de Compras</h1>
    <div class="row mt-4">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cart.products}}
                    <tr>
                        <td>{{this.product}}</td>
                        <td>${{this.productPrice}}</td> <!-- Acceder al precio del producto en el carrito -->
                        <td>{{this.productQuantity}}</td> <!-- Acceder a la cantidad del producto en el carrito -->
                        <td>${{this.productTotal}}</td> <!-- Acceder al subtotal del producto en el carrito -->
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Resumen del Pedido</h5>
                    <p class="card-text">Total de Productos: {{cart.products.length}}</p>
                    <!-- No estoy seguro de dónde viene la variable 'total' en tu código, asegúrate de definirla -->
                    <p class="card-text">Total a Pagar: ${{cart.total}}</p>
                    <a href="/api/products/realtimeproducts" class="btn btn-primary">Seguir Comprando</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>