<!-- Ordenar por precio -->
<div>
    <a href="?sort=desc{{#if Query.page}}&page={{Query.page}}{{/if}}" class="btn btn-primary">Mayor precio</a>
    <a href="?sort=asc{{#if Query.page}}&page={{Query.page}}{{/if}}" class="btn btn-primary">Menor precio</a>
</div>

<div class="container mt-5">
    <div class="row" id="productList">
        {{#each response.Category}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/{{this.image}}" class="card-img-top img-fluid" alt="{{this.title}}"
                    style="max-height: 400px; aspect-ratio: 3/2; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.brand}}</p>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">Precio: ${{this.price}}</p>
                    <p class="card-text">Stock: {{this.stock}}</p>
                    <a href="/api/products/{{this._id}}" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {{#if response.Query.prevLink}}
                    <li class="page-item">
                        <a class="page-link" href="{{response.Query.prevLink}}{{#if response.Query.Category}}&category={{response.Query.Category}}{{/if}}" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                    {{/if}}
                    <li class="page-item disabled">
                        <span class="page-link">Página {{response.Query.page}}</span>
                    </li>
                    {{#if response.Query.nextLink}}
                    <li class="page-item">
                        <a class="page-link" href="{{response.Query.nextLink}}{{#if response.Query.Category}}&category={{response.Query.Category}}{{/if}}">Siguiente</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
</div>