<h1 class="text-center">Productos en tiempo real</h1>

<!-- Boton para ir al carrito <a href="/api/carts/{{cartId}}" class="btn btn-primary">Ir al carrito</a> -->

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/addProduct" method="POST" id="addProductForm" enctype="multipart/form-data">
                <div class="mb-3">
                    <input type="text" class="form-control" name="title" id="title" placeholder="Título" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="brand" id="brand" placeholder="Marca" required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" name="description" id="description" placeholder="Descripción"
                        required></textarea>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="price" id="price" placeholder="Precio" required>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="stock" id="stock" placeholder="Stock" required>
                </div>
                <div class="mb-3">
                    <select class="form-select" name="category" id="category" required>
                        <option value="" disabled selected>Seleccione una categoría</option>
                        <option value="tecnologia">Tecnología</option>
                        <option value="libros">Libros</option>
                        <option value="ropa">Ropa</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="file" class="form-control" name="image" id="image" accept="image/*" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Agregar Producto</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Filtro por categoría -->
<form action="/api/products/realtimeproducts" method="GET">
    <label for="category">Filtrar por categoría:</label>
    <select name="category" id="category">
        <option value="">Todas las categorías</option>
        <option value="tecnologia">Tecnología</option>
        <option value="libros">Libros</option>
        <option value="ropa">Ropa</option>
    </select>
    <button type="submit">Filtrar</button>
</form>

<!-- Ordenar por precio -->
<div>
    <a href="?sort=desc">Mayor precio</a>
    <a href="?sort=asc">Menor precio</a>
</div>


<div class="container mt-5">
    <div class="row" id="productList">
        {{#each Products}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/{{this.image}}" class="card-img-top img-fluid" alt="{{this.title}}"
                    style="max-height: 400px; aspect-ratio: 3/2; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.brand}}</p>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">Precio: ${{this.price}}</p>
                    <p class="card-text">Stock: {{this.stock}}</p>
                    <p class="card-text">Categoría: {{this.category}}</p>
                    <a href="http://localhost:8080/api/products/{{this._id}}" class="btn btn-primary">Ver detalles</a>
                    <button class="btn btn-danger delete-btn" data-product-id="{{this._id}}">Eliminar Producto</button>
                    <button class="btn btn-success cart-btn" data-product-id="{{this._id}}">Agregar al carrito</button> 
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {{#if Query.hasPrevPage}}
                        <li class="page-item">
                            <a class="page-link" href="?page={{Query.prevPage}}" tabindex="-1" aria-disabled="true">Anterior</a>
                        </li>
                    {{/if}}
                    <li class="page-item disabled"><a class="page-link" href="#">Página {{currentPage}}</a></li>
                    {{#if Query.hasNextPage}}
                        <li class="page-item">
                            <a class="page-link" href="?page={{Query.nextPage}}">Siguiente</a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/realTimeProducts.js"></script>