<h1 class="text-center">Productos en tiempo real</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/realtimeproducts/addProduct" method="POST" id="addProductForm" enctype="multipart/form-data">
                <div class="mb-3">
                    <input type="text" class="form-control" name="title" id="title" placeholder="Título" required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" name="description" id="description" placeholder="Descripción"
                        required></textarea>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="price" id="price" placeholder="Precio" required>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="stock" id="stock" placeholder="Stock" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="category" id="category" placeholder="Categoría"
                        required>
                </div>
                <div class="mb-3">
                    <input type="file" class="form-control" name="image" id="image" accept="image/*" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Agregar Producto</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row" id="productList">
        {{#each products}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/{{image}}" class="card-img-top img-fluid" alt="{{title}}"
                    style="max-height: 400px; aspect-ratio: 3/2; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{brand}}</p>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">Precio: ${{price}}</p>
                    <p class="card-text">Stock: {{stock}}</p>
                    <p class="card-text">Categoría: {{category}}</p>
                    <button class="btn btn-danger delete-btn" data-product-id="{{_id}}"
                        data-delete-url="http://localhost:8080/realtimeproducts/deleteProduct/{{_id}}">Eliminar
                        Producto</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>